<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-4">
        <div class="card card-inverse card-success">
            <div class="card-body">
                <ngb-carousel class="no-control-indicator">
                    <ng-template ngbSlide>
                        <div class=" "> <i class="fa fa-facebook fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white font-light">Now Get <span class="font-bold">50% Off</span><br>
                      on buy</h3>
                            <div class="text-white m-t-20"> <i>- post form wrap</i> </div>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class=""> <i class="fa fa-facebook fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white font-light">Now Get <span class="font-bold">60% Off</span><br>
                      on buy</h3>
                            <div class="text-white m-t-20"> <i>- post form wrap</i> </div>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class=" "> <i class="fa fa-facebook fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white font-light">Now Get <span class="font-bold">70% Off</span><br>
                      on buy</h3>
                            <div class="text-white m-t-20"> <i>- post form wrap</i> </div>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-4">
        <div class="card card-inverse card-danger">
            <div class="card-body">
                <ngb-carousel class="no-control-indicator">
                    <ng-template ngbSlide>
                        <div class=""> <i class="fa fa-google-plus fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white font-light">Now Get <span class="font-bold">50% Off</span><br>
                      on buy</h3>
                            <div class="text-white m-t-20"> <i>- Eric fandanc</i> </div>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class=""> <i class="fa fa-google-plus fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white font-light">Now Get <span class="font-bold">60% Off</span><br>
                      on buy</h3>
                            <div class="text-white m-t-20"> <i>- Numbro zomix</i> </div>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class=""> <i class="fa fa-google-plus fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white font-light">Now Get <span class="font-bold">70% Off</span><br>
                      on buy</h3>
                            <div class="text-white m-t-20"> <i>- Sitrix stock</i> </div>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-4">
        <div class="card card-inverse card-info">
            <div class="card-body">
                <ngb-carousel class="no-control-indicator">
                    <ng-template ngbSlide>
                        <div class=""> <i class="fa fa-twitter fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white font-light">Tweet now <span class="font-bold">50% Off</span><br>
                      on buy</h3>
                            <div class="text-white m-t-20"> <i>- @shoperstaff</i> </div>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class=""> <i class="fa fa-twitter fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white font-light">Sachin #star <span class="font-bold">60% Off</span><br>
                      on buy</h3>
                            <div class="text-white m-t-20"> <i>- #shoperstaff</i> </div>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class=""> <i class="fa fa-twitter fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white font-light">Now Get <span class="font-bold">70% Off</span><br>
                      on buy</h3>
                            <div class="text-white m-t-20"> <i>- @shoperstaff</i> </div>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->