 <!-- START BREADCRUMB -->
 <ul class="breadcrumb">
    <li><a href="">STB</a></li>                    
    <li>Dashboard</li>
</ul>
<!-- END BREADCRUMB -->                       

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    
    <!-- START WIDGETS -->                    
    <div class="row">
        <div class="col-md-3">
            
            <!-- START WIDGET PAYMENT TRANSFER WITHDRAWAL OPERATIONS -->
            <div class="widget widget-default widget-carousel">
                <div class="owl-carousel" id="owl-example">
                    <div>                                    
                        <div class="widget-title">Payment</div>
                        <div class="widget-int">{{VersementNumber}}</div>
                    </div>
                    <div>                                    
                        <div class="widget-title">Withdrawal</div>
                        <div class="widget-int">{{RetraitNumber}}</div>
                    </div>
                    <div>                                    
                        <div class="widget-title">Transfer</div>
                        <div class="widget-int">{{VirementNumber}}</div>
                    </div>
                </div>                            
                <div class="widget-controls">                                
                    <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                </div>                             
            </div>         
            <!-- END WIDGET PAYMENT TRANSFER WITHDRAWAL OPERATIONS-->
            
        </div>
        <div class="col-md-3">
            
            <!-- START WIDGET MESSAGES -->
            <div class="widget widget-default widget-item-icon">
                <div class="widget-item-left">
                    <span class="fa fa-money"></span>
                </div>                       
                <div class="widget-data">
                    <div class="widget-int num-count">{{CountAccount}}</div>
                    <div class="widget-title">Accouny</div>
                    <div class="widget-subtitle">In Agency</div>
                </div>      
                <div class="widget-controls">                                
                    <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                </div>
            </div>                            
            <!-- END WIDGET MESSAGES -->
            
        </div>
        <div class="col-md-3">
            
            <!-- START WIDGET REGISTRED -->
            <div class="widget widget-default widget-item-icon">
                <div class="widget-item-left">
                    <span class="fa fa-user"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-int num-count">{{CountCustomer}}</div>
                    <div class="widget-title">Customer</div>
                    <div class="widget-subtitle">In Agency</div>
                </div>
                <div class="widget-controls">                                
                    <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                </div>                            
            </div>                            
            <!-- END WIDGET REGISTRED -->
            
        </div>
        <div class="col-md-3">
            
            <!-- START WIDGET CLOCK && BANK TIME -->
            <div class="widget widget-info widget-padding-sm">
                <div class="widget-big-int plugin-clock">00:00</div>                            
                <div class="widget-subtitle plugin-date">Loading...</div>
                <div class="widget-controls">                                
                    <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="left" title="Remove Widget"><span class="fa fa-times"></span></a>
                </div>                            
                <div class="widget-buttons widget-c3">
                    <div class="col">
                            {{Employe.agence?.nomAgence}}
                    </div>
                    <div class="col">
                            Heure Ouverture 08:00:00
                    </div>
                    <div class="col">
                            Heure Fermeture 16:00:00
                    </div>
                </div>                            
            </div>                        
            <!-- END WIDGET CLOCK -->
            
        </div>
    </div>
    <!-- END WIDGETS -->                    
    
    <div class="row">
        <div class="col-md-8">
            
            <!-- START statistical Operations -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>statistical Operations</h3>
                        <span><strong style="color:#002F2F">Transfer</strong> | <strong  style="color:#3cba9f">Payment</strong> | <strong  style="color:#B9121B">Withdrawal</strong> </span>
                    </div>                                    
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>                                        
                            <ul class="dropdown-menu">
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                            </ul>                                        
                        </li>                                        
                    </ul>                                    
                </div>                                
                <div class="panel-body padding-0">
                    <canvas id="canvas">{{chart}}</canvas>
                </div>                                    
            </div>
            <!-- END statistical Operations -->
            
        </div>
  

        <div class="col-md-4">
            
            <!-- START List of Operations -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>Operations</h3>
                        <span>List of Operations</span>
                    </div>                                    
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>                                        
                            <ul class="dropdown-menu">
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                            </ul>                                        
                        </li>                                        
                    </ul>
                </div>
                <div class="panel-body panel-body-table">
                    
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" [mfData]="operations" id="operationsInfoEmp" #mf="mfDataTable" [mfRowsOnPage]="6">
                            <thead>
                                <tr>
                                    <th width="50%">ID</th>
                                    <th width="20%">Date</th>
                                    <th width="30%">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let oper of mf.data">
                                    <td><strong>{{oper.numeroOperation}}</strong></td>
                                    <td><span class="label label-success">{{oper.dateOperation}}</span></td>
                                    <td>{{oper.montant}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="pagination pagination-sm pull-right">
                                        <mfBootstrapPaginator></mfBootstrapPaginator>        
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    
                </div>
            </div>
            <!-- END List of Operations -->
            
        </div>
    </div> 
</div>
<!-- END PAGE CONTENT WRAPPER -->                                
