<div class="card">
    <div class="card-body">
        <div class="d-flex flex-row">
            <div class=""><img src="assets/images/users/1.jpg" alt="user" class="img-circle" width="100"></div>
            <div class="p-l-20">
                <h3 class="font-medium">Daniel Kristeen</h3>
                <h6>UIUX Designer</h6>
                <button class="btn btn-success"><i class="ti-plus"></i> Follow</button>
            </div>
        </div>
        <div class="row m-t-40">
            <div class="col b-r">
                <h2 class="font-light">14</h2>
                <h6>Photos</h6></div>
            <div class="col b-r">
                <h2 class="font-light">54</h2>
                <h6>Videos</h6></div>
            <div class="col">
                <h2 class="font-light">145</h2>
                <h6>Tasks</h6></div>
        </div>
    </div>
    <div>
        <hr>
    </div>
    <div class="card-body">
        <p class="text-center aboutscroll">
            Lorem ipsum dolor sit ametetur adipisicing elit, sed do eiusmod tempor incididunt adipisicing elit.
        </p>
        <ul class="list-icons d-flex flex-item text-center">
            <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Website"><i class="fa fa-globe font-20"></i></a></li>
            <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="twitter"><i class="fa fa-twitter font-20"></i></a></li>
            <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Facebook"><i class="fa fa-facebook-square font-20"></i></a></li>
            <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Youtube"><i class="fa fa-youtube-play font-20"></i></a></li>
            <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Linkd-in"><i class="fa fa-linkedin-square font-20"></i></a></li>
        </ul>
    </div>
</div>