<ng4-loading-spinner> </ng4-loading-spinner>
          <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a>STB</a></li>
                    <li class="active">Normal Operations</li>
                </ul>
                <!-- END BREADCRUMB -->                
                
                <!-- PAGE TITLE -->
                <div class="page-title">                    
                    <h2><span class="fa fa-cogs"></span> Operations</h2>
                </div>
                <!-- END PAGE TITLE -->                
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    <div class="row">
                            <div class="col-md-3">
    
                                <div class="widget widget-primary widget-item-icon">
                                    <div class="widget-item-left">
                                        <span class="fa fa-cogs"></span>
                                    </div>
                                    <div class="widget-data">
                                        <div class="widget-int num-count">{{countOperations}}</div>
                                        <div class="widget-title">Operations</div>
                                    </div>
                                    <div class="widget-controls">                                
                                        <a class="widget-control-right"><span class="fa fa-times"></span></a>
                                    </div>                            
                                </div>
    
                            </div>

                            <div class="col-md-3">

                                    <div class="widget widget-success widget-item-icon">
                                        <div class="widget-item-left">
                                            <span class="fa fa-globe"></span>
                                        </div>
                                        <div class="widget-data">
                                            <div class="widget-int num-count">{{countTransfer}}</div>
                                            <div class="widget-title">bank transfer</div>
                                        </div>
                                        <div class="widget-controls">                                
                                            <a class="widget-control-right"><span class="fa fa-times"></span></a>
                                        </div>                            
                                    </div>
        
                            </div>

                            <div class="col-md-3">

                                    <div class="widget widget-success widget-no-subtitle">
                                        <div class="widget-big-int">TND <span class="num-count">{{LatestTransfer}}</span></div>                            
                                        <div class="widget-subtitle">Latest transaction</div>
                                        <div class="widget-controls">
                                            <a class="widget-control-right"><span class="fa fa-times"></span></a>
                                        </div>                            
                                    </div>                        
        
                            </div>

                            <div class="col-md-3">

                                    <div class="widget widget-warning widget-item-icon">
                                        <div class="widget-item-right">
                                            <span class="fa fa-user"></span>
                                        </div>                             
                                        <div class="widget-data-left">
                                            <div class="widget-int num-count">{{ActiveAccount}}</div>
                                            <div class="widget-title">active Account</div>
                                        </div>                                     
                                    </div>
        
                            </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <!-- SEARCH WIDGET -->
                            <div class="panel panel-default">
                                <div class="panel-body panel-body-search">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-search"></span></span>
                                        <input type="text" class="form-control" placeholder="Search Customer account"  [(ngModel)]="numberACC" (keyup.enter)="loadCompteByNumber(numberACC)" />
                                        
                                    </div>                                                                
                                </div>
                            </div>
                            <!-- END SEARCH WIDGET -->

                            <!-- TABS WIDGET -->
                            <div class="panel panel-default tabs" *ngIf="compte?.codeCompte != null">
                                    <ul class="nav nav-tabs nav-justified">
                                        <li class="active"><a href="#versement" data-toggle="tab">Payment</a></li>
                                        <li><a href="#retrait" data-toggle="tab">Withdrawal</a></li>
                                        <li><a href="#virement" data-toggle="tab">Transfer</a></li>
                                    </ul>
                                    <div class="panel-body tab-content">
                                        <div class="tab-pane active" id="versement">
                                            <form (submit)="AddOperationV(amountV)">
                                                <div class="form-group">
                                                        <label>Amount</label>
                                                        <input type="number" class="form-control" placeholder="Enter the amount" [(ngModel)]="amountV" name="amountV"/>
                                                </div>
                                                <div class="col-md-4">
                                                        <button class="btn btn-success btn-block" >Deposit</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane" id="retrait">
                                            <form (submit)="AddOperationR(amountR)">
                                                <div class="form-group">
                                                        <label>Amount</label>
                                                        <input type="number" class="form-control" placeholder="Enter the amount" [(ngModel)]="amountR" name="amountR" />
                                                </div>
                                                <div class="col-md-4">
                                                        <button class="btn btn-success btn-block">Withdraw</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane" id="virement">
                                            <form>
                                                <div class="form-group">
                                                        <label>Account Number</label>
                                                        <select class="form-control"  [(ngModel)]="cp2" name="cp2">
                                                            <option *ngFor="let cp of Compte" [value]="cp.codeCompte">{{cp.codeCompte}}</option>
                                                        </select>
                                                </div>
                                                
                                                <div class="form-group">
                                                        <label>Amount</label>
                                                        <input type="number" class="form-control" placeholder="Enter the amount" [(ngModel)]="amountVI" name="amountVI"/>
                                                </div>
                                                <div class="col-md-4">
                                                        <button class="btn btn-success btn-block" (click)="AddOperationVI(cp2,amountVI)">Transfer</button>
                                                </div>
                                            </form>    
                                        </div>                        
                                    </div>
                                </div>       
                            <!-- END TABS WIDGET -->
                        </div>
                         <!-- MAIL COMPOSE WIDGET -->
                        <div class="col-md-6">

                            <div class="panel panel-default" *ngIf="compte?.codeCompte != null">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Account Information</h3>    
                                    <ul class="panel-controls" style="margin-top: 2px;">
                                            <li><a  class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                                            <li class="dropdown">
                                                <a  class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>                                        
                                                <ul class="dropdown-menu">
                                                    <li><a  class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                                    <li><a  class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                                                </ul>                                        
                                            </li>                                        
                                    </ul>                                    
                                </div>
                                <div class="panel-body list-group">
                                    <a class="list-group-item"><span class="fa fa-inbox"></span> Account Number <span class="badge badge-danger">{{compte.codeCompte}}</span></a>
                                    <a class="list-group-item"><span class="fa fa-calendar"></span> Creation Date <span class="badge badge-danger">{{compte.dateCreation}}</span></a>                                
                                    <a class="list-group-item"><span class="fa fa-money"></span> Balance <span class="badge badge-danger">{{compte.solde}} TND</span></a>
                                    <a class="list-group-item" *ngIf="compte.taux != null"><span class="fa fa-money"></span> Discovery <span class="badge badge-danger">{{compte.taux}} TND</span></a>
                                    <a class="list-group-item" *ngIf="compte.taux == null"><span class="fa fa-money"></span> Rate <span class="badge badge-danger">{{compte.decouvert}} TND</span></a>
                                </div>
                            </div>

                        </div>
                        <!-- END MAIL COMPOSE WIDGET -->
                    </div>
                    
                    <div class="row">
                          <!-- PROFILE WIDGET -->
                          <div class="col-md-4" *ngIf="compte?.codeCompte != null">
     
                                <div class="panel panel-default">
                                    <div class="panel-body profile bg-info">
    
                                        <div class="profile-image">
                                            <img src="../../assets/img/amine.png" alt="John Doe">
                                        </div>
                                        <div class="profile-data">
                                            <div class="profile-data-name">Customer Informations</div>
                                        </div>
    
                                    </div>
                                    <div class="panel-body list-group">
                                        <a  class="list-group-item"><span class="fa fa-bar-chart-o"></span><span class="label label-danger">ID</span> : {{compte.codeClient}}</a>
                                        <a  class="list-group-item"><span class="fa fa-user"></span><span class="label label-danger">Full Name</span> :  {{compte.nomClient}}</a>
                                        <a  class="list-group-item"><span class="fa fa-cog"></span><span class="label label-danger">Account Number</span> :  {{compte.codeCompte}}</a>
                                    </div>                            
                                </div>
    
                            </div>
                            <!-- END PROFILE WIDGET -->
                        <!-- MAP WIDGET -->
                        <div class="col-md-8">
                                
                                <div class="panel panel-default" *ngIf="compte?.codeCompte != null">
                                     <div class="panel-heading">
                                        <h3 class="panel-title">Operation Information</h3>     
                                        <ul class="panel-controls" style="margin-top: 2px;">
                                                <li><a  class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                                                <li class="dropdown">
                                                    <a  class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>                                        
                                                    <ul class="dropdown-menu">
                                                        <li><a  class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                                        <li><a  class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                                                    </ul>                                        
                                                </li>                                        
                                        </ul>                                   
                                    </div>
                                    <div class="panel-body">
                                        <div class="panel-body panel-body-table">
                        
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped" id="operationsInfo" [mfData]="compte.operationCompteDTO" #mf="mfDataTable" [mfRowsOnPage]="5">
                                                    <thead>
                                                        <tr>
                                                            <th width="10%"><mfDefaultSorter by="ID">ID</mfDefaultSorter></th>
                                                            <th width="50%">Operation Date</th>
                                                            <th width="30%"><mfDefaultSorter by="Amount">Amount</mfDefaultSorter></th>
                                                            <th width="10%"><mfDefaultSorter by="Type">Type</mfDefaultSorter></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody  *ngIf="compte.operationCompteDTO == null">
                                                        <tr>
                                                            <td><strong>No Data Available</strong></td>
                                                            <td><strong>No Data Available</strong></td>
                                                            <td><strong>No Data Available</strong></td>
                                                            <td><strong>No Data Available</strong></td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody  *ngIf="compte.operationCompteDTO != null">
                                                        <tr *ngFor="let oper of mf.data">
                                                            <td><strong>{{oper.numeroOperation}}</strong></td>
                                                            <td><span class="label label-danger">{{oper.dateOperation}}</span></td>
                                                            <td><strong>{{oper.montant}} TND</strong></td>
                                                            <td *ngIf="oper.typeO == 0">Payment</td>
                                                            <td *ngIf="oper.typeO == 1">Withdrawal</td>
                                                            <td *ngIf="oper.typeO == 2">Transfer</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr class="pagination pagination-sm pull-right" *ngIf="compte.operationCompteDTO != null">
                                                                <mfBootstrapPaginator></mfBootstrapPaginator>        
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                            <!-- END MAP WIDGET -->
                    </div>
                </div>
                <!-- END PAGE CONTENT WRAPPER -->
      






