                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="">Home</a></li>
                    <li><a href="">STB</a></li>
                    <li class="active">Normal Operations</li>
                </ul>
                <!-- END BREADCRUMB -->                
                
                <!-- PAGE TITLE -->
                <div class="page-title">                    
                    <h2><span class="fa fa-cogs"></span> Operations</h2>
                </div>
                <!-- END PAGE TITLE -->                
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    <!--<div class="row">-->

                        <!-- NEWS WIDGET -->
                        <!--<div class="col-md-4">

                            <div class="panel panel-default">                            
                                <div class="panel-body panel-body-image">
                                    <img src="../../assets/images/ocean.jpg" alt="Ocean"/>
                                    <a href="" class="panel-body-inform">
                                        <span class="fa fa-heart-o"></span>
                                    </a>
                                </div>
                                <div class="panel-body">
                                    <h3>Ocean &mdash; body of saline water</h3>
                                    <p>On Earth, an ocean is one of the major conventional divisions of the World Ocean, which occupies two-thirds of the planet's surface.</p>
                                </div>
                                <div class="panel-footer text-muted">
                                    <span class="fa fa-clock-o"></span> 3d ago &nbsp;&nbsp;&nbsp;
                                    <span class="fa fa-comment-o"></span> 36
                                </div>
                            </div>

                        </div>-->
                        <!-- END NEWS WIDGET -->

                        <!-- PROFILE WIDGET -->
                        <!--<div class="col-md-4">

                            <div class="panel panel-default">
                                <div class="panel-body profile bg-info">

                                    <div class="profile-image">
                                        <img src="../../assets/images/users/user2.jpg" alt="John Doe">
                                    </div>
                                    <div class="profile-data">
                                        <div class="profile-data-name">John Doe</div>
                                        <div class="profile-data-title">UI/UX Designer</div>
                                    </div>
                                    <div class="profile-controls">
                                        <a href="" class="profile-control-left"><span class="fa fa-twitter"></span></a>
                                        <a href="" class="profile-control-right"><span class="fa fa-envelope"></span></a>
                                    </div>

                                </div>
                                <div class="panel-body list-group">
                                    <a href="" class="list-group-item"><span class="fa fa-user"></span> Profile</a>
                                    <a href="" class="list-group-item"><span class="fa fa-cog"></span> Settings</a>
                                    <a href="" class="list-group-item"><span class="fa fa-bar-chart-o"></span> Activity</a>
                                    <a href="" class="list-group-item"><span class="fa fa-sign-out"></span> Logoff</a>
                                </div>                            
                            </div>

                        </div>-->
                        <!-- END PROFILE WIDGET -->

                        <!-- SETTINGS WIDGET -->
                        <!--<div class="col-md-4">   

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span class="fa fa-cogs"></span> Settings</h3>                                
                                    <ul class="panel-controls">
                                        <li><a href="" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                        <li><a href="" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                        <li><a href="" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>                                   
                                </div>
                                <div class="panel-body">
                                    <form action="#" role="form" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label text-left">Wi-Fi</label>
                                            <div class="col-md-3">
                                                <label class="switch">
                                                    <input type="checkbox" class="switch" value="1" checked/>
                                                    <span></span>
                                                </label>                                            
                                            </div>
                                            <div class="col-md-5">
                                                <span class="help-block">Wi-Fi networking</span>
                                            </div>
                                        </div>                                    
                                        <div class="form-group">
                                            <label class="col-md-4 control-label text-left">Location</label>
                                            <div class="col-md-3">
                                                <label class="switch">
                                                    <input type="checkbox" class="switch" value="1" checked/>
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-md-5">
                                                <span class="help-block">Access your location</span>
                                            </div>                                        
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label text-left">Celluar</label>
                                            <div class="col-md-3">
                                                <label class="switch">
                                                    <input type="checkbox" class="switch" value="1"/>
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-md-5">
                                                <span class="help-block">They steal money :(</span>
                                            </div>                                        
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label text-left">Find my Phone</label>
                                            <div class="col-md-3">
                                                <label class="switch">
                                                    <input type="checkbox" class="switch" value="1" checked/>
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-md-5">
                                                <span class="help-block">Nice feature</span>
                                            </div>                                                                                
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label text-left">Sounds</label>
                                            <div class="col-md-3">
                                                <label class="switch">
                                                    <input type="checkbox" class="switch" value="1"/>
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-md-5">
                                                <span class="help-block">Wanna mute?</span>
                                            </div>                                                                                
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>-->
                        <!-- END SETTINGS WIDGET -->

                    <!--</div>-->
                    <div class="row">
                            <div class="col-md-3">
    
                                <div class="widget widget-primary widget-item-icon">
                                    <div class="widget-item-left">
                                        <span class="fa fa-cogs"></span>
                                    </div>
                                    <div class="widget-data">
                                        <div class="widget-int num-count">{{countOperations}}</div>
                                        <div class="widget-title">Operations</div>
                                    </div>
                                    <div class="widget-controls">                                
                                        <a href="#" class="widget-control-right"><span class="fa fa-times"></span></a>
                                    </div>                            
                                </div>
    
                            </div>

                            <div class="col-md-3">

                                    <div class="widget widget-success widget-item-icon">
                                        <div class="widget-item-left">
                                            <span class="fa fa-globe"></span>
                                        </div>
                                        <div class="widget-data">
                                            <div class="widget-int num-count">{{countTransfer}}</div>
                                            <div class="widget-title">bank transfer</div>
                                        </div>
                                        <div class="widget-controls">                                
                                            <a href="#" class="widget-control-right"><span class="fa fa-times"></span></a>
                                        </div>                            
                                    </div>
        
                            </div>

                            <div class="col-md-3">

                                    <div class="widget widget-success widget-no-subtitle">
                                        <div class="widget-big-int">$ <span class="num-count">{{LatestTransfer}}</span></div>                            
                                        <div class="widget-subtitle">Latest transaction</div>
                                        <div class="widget-controls">
                                            <a href="#" class="widget-control-left"><span class="fa fa-cloud"></span></a>
                                            <a href="#" class="widget-control-right"><span class="fa fa-times"></span></a>
                                        </div>                            
                                    </div>                        
        
                            </div>

                            <div class="col-md-3">

                                    <div class="widget widget-warning widget-item-icon">
                                        <div class="widget-item-right">
                                            <span class="fa fa-user"></span>
                                        </div>                             
                                        <div class="widget-data-left">
                                            <div class="widget-int num-count">{{ActiveAccount}}</div>
                                            <div class="widget-title">active Account</div>
                                        </div>                                     
                                    </div>
        
                            </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <!-- SEARCH WIDGET -->
                            <div class="panel panel-default">
                                <div class="panel-body panel-body-search">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-search"></span></span>
                                        <input type="text" class="form-control" placeholder="Search Customer account"  [(ngModel)]="numberACC" (keyup.enter)="loadCompteByNumber(numberACC)" />
                                        
                                    </div>                                                                
                                </div>
                            </div>
                            <!-- END SEARCH WIDGET -->

                            <!-- TABS WIDGET -->
                            <div class="panel panel-default tabs" *ngIf="compte?.codeCompte != null">
                                    <ul class="nav nav-tabs nav-justified">
                                        <li class="active"><a href="#versement" data-toggle="tab">Payment</a></li>
                                        <li><a href="#retrait" data-toggle="tab">Withdrawal</a></li>
                                        <li><a href="#virement" data-toggle="tab">Transfer</a></li>
                                    </ul>
                                    <div class="panel-body tab-content">
                                        <div class="tab-pane active" id="versement">
                                            <form (submit)="AddOperationV(amountV)">
                                                <div class="form-group">
                                                        <label>Amount</label>
                                                        <input type="text" class="form-control" placeholder="Enter the amount" [(ngModel)]="amountV" name="amountV"/>
                                                </div>
                                                <div class="col-md-4">
                                                        <button class="btn btn-success btn-block" >Deposit</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane" id="retrait">
                                            <form (submit)="AddOperationR(amountR)">
                                                <div class="form-group">
                                                        <label>Amount</label>
                                                        <input type="text" class="form-control" placeholder="Enter the amount" [(ngModel)]="amountR" name="amountR" />
                                                </div>
                                                <div class="col-md-4">
                                                        <button class="btn btn-success btn-block">Withdraw</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane" id="virement">
                                            <form (submit)="AddOperationVI(cp2,amountVI)">
                                                <div class="form-group">
                                                        <label>Account Number</label>
                                                        <input type="text" class="form-control" placeholder="Enter the account number" [(ngModel)]="cp2" name="cp2"/>
                                                </div>
                                                <div class="form-group">
                                                        <label>Amount</label>
                                                        <input type="text" class="form-control" placeholder="Enter the amount" [(ngModel)]="amountVI" name="amountVI"/>
                                                </div>
                                                <div class="col-md-4">
                                                        <button class="btn btn-success btn-block">Transfer</button>
                                                </div>
                                            </form>    
                                        </div>                        
                                    </div>
                                </div>       
                            <!-- END TABS WIDGET -->
                        </div>
                         <!-- MAIL COMPOSE WIDGET -->
                        <div class="col-md-6">

                            <div class="panel panel-default" *ngIf="compte?.codeCompte != null">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Account Information</h3>                                      
                                </div>
                                <div class="panel-body list-group">
                                    <a class="list-group-item"><span class="fa fa-inbox"></span> Account Number <span class="badge badge-danger">{{compte.codeCompte}}</span></a>
                                    <a class="list-group-item"><span class="fa fa-calendar"></span> Creation Date <span class="badge badge-danger">{{compte.dateCreation}}</span></a>                                
                                    <a class="list-group-item"><span class="fa fa-money"></span> Amount <span class="badge badge-danger">{{compte.solde}} $</span></a>
                                    <a class="list-group-item" *ngIf="compte.taux != null"><span class="fa fa-money"></span> Discovery <span class="badge badge-danger">{{compte.taux}} $</span></a>
                                    <a class="list-group-item" *ngIf="compte.taux == null"><span class="fa fa-money"></span> Rate <span class="badge badge-danger">{{compte.decouvert}} $</span></a>
                                </div>
                            </div>

                        </div>
                        <!-- END MAIL COMPOSE WIDGET -->
                    </div>
                    
                    <div class="row">
                          <!-- PROFILE WIDGET -->
                          <div class="col-md-4" *ngIf="compte?.codeCompte != null">
     
                                <div class="panel panel-default">
                                    <div class="panel-body profile bg-info">
    
                                        <div class="profile-image">
                                            <img src="../../assets/img/amine.png" alt="John Doe">
                                        </div>
                                        <div class="profile-data">
                                            <div class="profile-data-name">Customer Informations</div>
                                        </div>
                                        <div class="profile-controls">
                                            <a href="#" class="profile-control-left"><span class="fa fa-twitter"></span></a>
                                            <a href="" class="profile-control-right"><span class="fa fa-envelope"></span></a>
                                        </div>
    
                                    </div>
                                    <div class="panel-body list-group">
                                            <a href="#" class="list-group-item"><span class="fa fa-bar-chart-o"></span><span class="label label-danger">ID</span> : {{compte.codeClient}}</a>
                                        <a href="#" class="list-group-item"><span class="fa fa-user"></span><span class="label label-danger">Full Name</span> :  {{compte.nomClient}}</a>
                                        <a href="#" class="list-group-item"><span class="fa fa-cog"></span><span class="label label-danger">Account Number</span> :  {{compte.codeCompte}}</a>
                                    </div>                            
                                </div>
    
                            </div>
                            <!-- END PROFILE WIDGET -->
                        <!-- MAP WIDGET -->
                        <div class="col-md-8">
                                
                                <div class="panel panel-default" *ngIf="compte?.codeCompte != null">
                                     <div class="panel-heading">
                                        <h3 class="panel-title">Operation Information</h3>                                      
                                    </div>
                                    <div class="panel-body">
                                        <div class="panel-body panel-body-table">
                        
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped" id="operationsInfo" [mfData]="compte.operationCompteDTO" #mf="mfDataTable" [mfRowsOnPage]="5">
                                                    <thead>
                                                        <tr>
                                                            <th width="10%"><mfDefaultSorter by="ID">ID</mfDefaultSorter></th>
                                                            <th width="50%">Operation Date</th>
                                                            <th width="30%"><mfDefaultSorter by="Amount">Amount</mfDefaultSorter></th>
                                                            <th width="10%"><mfDefaultSorter by="Type">Type</mfDefaultSorter></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let oper of mf.data">
                                                            <td><strong>{{oper.numeroOperation}}</strong></td>
                                                            <td><span class="label label-danger">{{oper.dateOperation}}</span></td>
                                                            <td><strong>{{oper.montant}} $</strong></td>
                                                            <td *ngIf="oper.typeO == 0">Payment</td>
                                                            <td *ngIf="oper.typeO == 1">Withdrawal</td>
                                                            <td *ngIf="oper.typeO == 2">Transfer</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr class="pagination pagination-sm pull-right">
                                                                <mfBootstrapPaginator></mfBootstrapPaginator>        
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                            <!-- END MAP WIDGET -->
                    </div>
                </div>
                <!-- END PAGE CONTENT WRAPPER -->
      






