  <!-- START BREADCRUMB -->
  <ul class="breadcrumb push-down-0">
        <li><a href="#">Home</a></li>
        <li><a href="#">Daily Task</a></li>
    </ul>
    <!-- END BREADCRUMB -->                                                
    
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
            <div class="row">
                    <div class="col-md-12">

                        <div class="error-container">
                            <div class="error-code">404</div>
                            <div class="error-text">page not found</div>
                            <div class="error-subtext">Unfortunately we're constructing this page that you are looking for. Wait until we finish .</div>
                            <div class="error-actions">                                
                                <div class="row">
                                        <button class="btn btn-info btn-block btn-lg" (click)="BackDash()" >Back to dashboard</button>

                                </div>                                
                            </div>
                            
                        </div>

                    </div>
                </div>
    </div>