<div class="block">
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <div class="col-md-12">
                <div class="pull-right">
                    <button class="btn btn-default" (click)="DraftEmail()"><span class="fa fa-floppy-o"></span> Save As Draft</button>
                </div>                                  
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">From:</label>
            <div class="col-md-10">                                        
                <select class="form-control"  [(ngModel)]="Email.From" name="Email.From">
                    <option>{{Employe.email}}</option>                                     
                </select>
            </div>
        </div>                        
        <div class="form-group">
            <label class="col-md-2 control-label">To:</label>
            <div class="col-md-9">                                        
                <input type="text" class="form-control" [(ngModel)]="Email.To" name="Email.To"  data-placeholder="add email"/>                                
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Subject:</label>
            <div class="col-md-10">                                        
                <input type="text" class="form-control" [(ngModel)]="Email.ObjectEmail" name="Email.ObjectEmail"/>                                
            </div>                                
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Attachments:</label>
            <div class="col-md-10">                                        
                <input type="file" class="file" data-filename-placement="inside"/>
            </div>                                
        </div>
        <div class="form-group">
            <div class="col-md-12">                            
                <ckeditor [(ngModel)]="Email.MessageEmail" name="Email.MessageEmail" >
              </ckeditor>                   
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="pull-right">
                    <button class="btn btn-danger" (click)="SentEmail()"><span class="fa fa-envelope"></span> Send Message</button>
                </div>                                    
            </div>
        </div>
    </form>
    </div>
    