<!-- ============================================================== -->
<!-- Ten Widget -->
<!-- ============================================================== -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Daily Transaction</h4>
                <div class="text-right">
                    <h1 class="font-light"><sup>TND</sup> {{statOp.totalDaily}}</h1>
                </div>
                <span class="text-inverse">{{statOp.dailtIncome}}</span>
                <div class="progress">
                    <div class="progress-bar bg-info" *ngIf="statOp.dailtIncome > 0 " role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-danger" *ngIf="statOp.dailtIncome <= 0 " role="progressbar" style="width: 100%; height: 6px;" attr.aria-valuenow="100" aria-valuemin="0" attr.aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Weekly Transaction</h4>
                <div class="text-right">
                    <h1 class="font-light"><sup>TND</sup> {{statOp.totalWeekly}}</h1>
                </div>

                <span class="text-inverse">{{statOp.weeklyIncome}}</span>
                <div class="progress">
                    <div class="progress-bar bg-info" *ngIf="statOp.weeklyIncome > 0 " role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-danger" *ngIf="statOp.weeklyIncome <= 0 " role="progressbar" style="width: 100%; height: 6px;" attr.aria-valuenow="100" aria-valuemin="0" attr.aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Monthly Transaction</h4>
                <div class="text-right">
                    <h1 class="font-light"><sup>TND</sup> {{statOp.totalMonthly}}</h1>
                </div>
                <span class="text-inverse">{{statOp.monthlyIncome}}</span>
                <div class="progress">
                    <div class="progress-bar bg-info" *ngIf="statOp.monthlyIncome > 0 " role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-danger" *ngIf="statOp.monthlyIncome <= 0 " role="progressbar" style="width: 100%; height: 6px;" attr.aria-valuenow="100" aria-valuemin="0" attr.aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yearly Transaction</h4>
                <div class="text-right">
                    <h1 class="font-light"><sup>TND</sup> {{statOp.totalYearly}}</h1>
                </div>
                <span class="text-inverse">{{statOp.yearlyIncome}}</span>
                <div class="progress">
                    <div class="progress-bar bg-info" *ngIf="statOp.yearlyIncome > 0 " role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-danger" *ngIf="statOp.yearlyIncome <= 0 " role="progressbar" style="width: 100%; height: 6px;" attr.aria-valuenow="100" aria-valuemin="0" attr.aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="btn-group">
                    <div class="btn btn-success" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"  (click)="getData(view,viewDate)"> Previous </div>
                    <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate" (click)="getData(view,viewDate)"> Today </div>
                    <div class="btn btn-info" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (click)="getData(view,viewDate)"> Next </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3> 
            </div>
            <div class="col-md-4 text-right">
                <div class="btn-group">
                    <div class="btn btn-info" (click)="view = 'month'" [class.active]="view === 'month'" (click)="getData(view,viewDate)"> Month </div>
                    <div class="btn btn-success" (click)="view = 'week'" [class.active]="view === 'week'" (click)="getData(view,viewDate)"> Week </div>
                    <div class="btn btn-warning" (click)="view = 'day'" [class.active]="view === 'day'" (click)="getData(view,viewDate)"> Day </div>
                
                </div>
            </div>
            
        </div>
        <br> 
        <div [ngSwitch]="view">
            <ul class="timeline" *ngFor="let norOp of normalOperations; let i = index">
                <li *ngIf="(i % 2)== 0 ">
                    <div class="timeline-badge success"><img class="img-responsive" alt="user" src="assets/images/amine.jpg" alt="img"> </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title" *ngIf="norOp.typeO == 0">Payment</h4>
                            <h4 class="timeline-title" *ngIf="norOp.typeO == 1">Withdrawal</h4>
                            <h4 class="timeline-title" *ngIf="norOp.typeO == 2">Transfer</h4>
                            <p><small class="text-muted"><i class="fa fa-clock-o"></i>{{norOp.dateOperation}}</small> </p>
                        </div>
                        <div class="timeline-body">
                            <div class="card bg-white">
                                <div class="card-body">
                                    <ngb-carousel class="no-control-indicator">
                                        <ng-template ngbSlide>
                                            <div class="">
                                                    <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <td>#</td>
                                                                        <td>Amount</td>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>{{norOp.numeroOperation}}</td>
                                                                        <td><span class="label label-danger">{{norOp.montant}} TND</span></td>
                                                                      
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                    </div>
                                                <div>
                                                    <ng-template #content let-c="close" let-d="dismiss">
                                                            <div class="modal-header">
                                                              <h4 class="modal-title">Account Details</h4>
                                                              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                                <span aria-hidden="true">&times;</span>
                                                              </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                    <div class="table-responsive">
                                                                            <table class="table">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>#</th>
                                                                                        <th  *ngIf="norOp.decouvert != null">Discovery</th>
                                                                                        <th  *ngIf="norOp.taux != null">Rate</th>
                                                                                        <th>Balance</th>
                                                                                        <th>Type</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>{{norOp.codeCompte}} </td>
                                                                                        <td  *ngIf="norOp.decouvert != null">{{norOp.decouvert}} TND</td>
                                                                                        <td  *ngIf="norOp.taux != null">{{norOp.taux}} TND</td>
                                                                                        <td> <span class="label label-danger">{{norOp.solde}} TND</span></td>
                                                                                        <td  *ngIf="norOp.type == 0">CC</td>
                                                                                        <td  *ngIf="norOp.type == 1">CE</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                    </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                              <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                                                            </div>
                                                    </ng-template>
                                                    <button class="btn btn-primary waves-effect waves-light m-t-15" (click)="open2(content)">Details</button>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-carousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted" *ngIf="(i % 2)!= 0 ">
                    <div class="timeline-badge success"><img class="img-responsive" alt="user" src="assets/images/amine.jpg" alt="img"> </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title" *ngIf="norOp.typeO == 0">Payment</h4>
                            <h4 class="timeline-title" *ngIf="norOp.typeO == 1">Withdrawal</h4>
                            <h4 class="timeline-title" *ngIf="norOp.typeO == 2">Transfer</h4>
                            <p><small class="text-muted"><i class="fa fa-clock-o"></i>{{norOp.dateOperation}}</small> </p>
                        </div>
                        <div class="timeline-body">
                            <div class="card bg-white">
                                <div class="card-body">
                                    <ngb-carousel class="no-control-indicator">
                                        <ng-template ngbSlide>
                                            <div class="">
                                                    <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <td>#</td>
                                                                        <td>Amount</td>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>{{norOp.numeroOperation}}</td>
                                                                        <td><span class="label label-danger">{{norOp.montant}} TND</span></td>
                                                                       
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                    </div>
                                                    <div>
                                                    <ng-template #content let-c="close" let-d="dismiss">
                                                                <div class="modal-header">
                                                                  <h4 class="modal-title">Account Details</h4>
                                                                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                                    <span aria-hidden="true">&times;</span>
                                                                  </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                        <div class="table-responsive">
                                                                                <table class="table">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>#</th>
                                                                                            <th  *ngIf="norOp.decouvert != null">Discovery</th>
                                                                                            <th  *ngIf="norOp.taux != null">Rate</th>
                                                                                            <th>Balance</th>
                                                                                            <th>Type</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>{{norOp.codeCompte}} </td>
                                                                                            <td  *ngIf="norOp.decouvert != null">{{norOp.decouvert}} TND</td>
                                                                                            <td  *ngIf="norOp.taux != null">{{norOp.taux}} TND</td>
                                                                                            <td> <span class="label label-danger">{{norOp.solde}} TND </span></td>
                                                                                            <td  *ngIf="norOp.type == 0">CC</td>
                                                                                            <td  *ngIf="norOp.type == 1">CE</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                        </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                  <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                                                                </div>
                                                    </ng-template>
                                                        <button class="btn btn-primary waves-effect waves-light m-t-15" (click)="open2(content)">Details</button>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-carousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>   
    </div>
</div>